<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Scott E.</h1>
       <p>I am a growth-centered web developer and music teacher. I have a passion for coding and for helping others. I have spent years in the classroom as a band director, giving me a plethora of skills that I bring to the table as a developer.</p>
       <p>I have also contributed to the fCC Dallas website and discord, along with being an admin for the ongoing 6-week long cohorts.</p>
        <script src="" async defer></script>
    </body>
</html>