<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TrebleSET Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h1>Hello World</h1>
    <p>Welcome to the TrebleSET creative center, my name is Scott E. Thompson and I plan to bring you on my journey as a Web Developer and Music Teacher!
        I am currently working to learn the basics of node.js and Express, while I simultaneously prepare for work as an elementary music teacher.
        I'll be trying to find my balance between family time, learning, and work as I am unwilling to sacrifice any of the three. 
        
        So I hope you enjoy my journey and it helps you along the way with your own.</p>
    <p>God bless,</p>
    <p>Scott E. Thompson</p>
        <script src="" async defer></script>
    </body>
</html>